@model IEnumerable<ParkingSlotDataLib.BookingSlot>


<h2>Avialable Slots</h2>

<style>
    body {
        margin: 4rem 0;
    }

    h4 {
        margin-bottom: 2rem;
        margin-top: 3rem;
    }

    .panel {
        height: auto;
        width: auto;
        border-radius: 0.2rem;
        padding: 0.5rem;
        margin-bottom: 1rem;
    }

        .panel.panel-purple {
            border: 2px solid #7f51f4;
            background-color: #dfccff;
            color: #7f51f4;
            text-align: center;
        }
</style>


<div class="container">

    <h3>@ViewBag.error</h3>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-2">
                <div class="panel panel-purple">
                    <h4> @Html.DisplayFor(modelItem => item.SlotNo)</h4>
                    @Html.DisplayFor(modelItem => item.VehicleType)
                    <h6> @Html.DisplayFor(modelItem => item.VehicleNumber)</h6>

                </div>
            </div>
        }
    </div>

</div>

