@model IEnumerable<ParkingSlotDataLib.BookingSlot>
@{
    /**/

    ViewBag.Title = "SlotAvaiabilty";
}
@using (Html.BeginForm("availableslots", "BookingSlots",FormMethod.Post))
{
<h1>@Html.DropDownList("Select Vehicle Type", new SelectList(ViewBag.DropDown), "Select VehicleType", null)</h1>
    

    <input type="submit" value="Check Slot Avaiability"  class="btn btn-default" />
}
@*<button onclick="GetSelectedType()">Check Slot Avaiability</button>*@
